@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/403.css" />
</head>
<div id="app">
    <div>403</div>
    <div class="txt">
        Bu Sayfa Yetkiniz Yoktur<span class="blink">_</span>
        
    </div>
    <a asp-action="Index" asp-controller="Home" style="color:white">Anasayfa</a>
</div>