@model AppUserLoginDTO
@{
    Layout = "_Layout";
}

<div class="container">
    <form asp-action="Login" asp-controller="Account" method="post">
        <div class="mb-3">
            <label>Kullanıcı Adı</label>
            <input class="form-control" asp-for="UserName" />
        </div>
        <div class="mb-3">
            <label asp-for="Password">Parola</label>
            <input asp-for="Password" class="form-control" type="password" />
        </div>
        <div class="my-3">
            <button class="btn btn-success">Giriş</button>
        </div>
    </form>
    <div class="text-danger">
        @if (ViewBag.GirisMessage!=null)
        {
            <span>@ViewBag.GirisMessage</span>
        }
    </div>
</div>