@model EventGarden.DTOs.EtkinlikDTOs.EtkinlikCreateDTO

@{
    Layout = "_Layout";
}

<div class="container">
    <form asp-action="CreateEtkinlik" asp-controller="Home" method="post">
        <div class="my-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="my-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="my-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="my-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="my-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
    </form>
</div>
